<div class="flex-col md:flex md:flex-row">
    <div class="flex flex-col flex-shrink-0 w-full md:w-64">
        <nav class="flex-grow pb-4 pr-4 md:block md:pb-0 md:overflow-y-auto">
            <ul>
                <li>
                    <%= sidebar_nav_link_to "Edit Profile", edit_user_registration_path %>
                </li>
                <%- if current_user.enabled?(:user_passwords) %>
                    <li>
                        <%= sidebar_nav_link_to "Change Password", user_change_password_path %>
                    </li>
                <%- end %>
                <%- if current_user.enabled?(:user_omniauth) %>
                    <li>
                        <%= sidebar_nav_link_to "Social Logins", authenticating_identities_path %>
                    </li>
                <%- end %>
                <%- if current_user.enabled?(:user_accounts) && current_user.accounts.count.positive? %>
                    <li>
                        <%= sidebar_nav_link_to "Your Accounts", accounts_path %>
                    </li>
                <%- end %>

                <li>
                    <%= sidebar_nav_link_to "Delete my Data", user_delete_data_path %>
                </li>

                <%- if current_user.enabled?(:user_accounts) && current_user.accounts.impersonal.count.positive? %>
                    <li class="font-bold mt-7 pb-1 mb-1 text-sm">Accounts</li>
                    <%- current_user.accounts.impersonal.each do |account| %>
                        <li>
                            <%= sidebar_nav_link_to "#{account.name}", account_path(account) %>
                        </li>
                    <%- end %>
                <%- end %>
            </ul>
        </nav>
    </div>
</div>
