<h2 class="heading">Edit User Account</h2>

<div class="flex flex-row">
    <%= render partial: "devise/registrations/navigation" %>
    <div class="mb-10 max-w-screen-sm w-full">
        <div class="w-full mb-10">
            <%= form_for(current_user, as: resource_name, url: user_registration_path, html: { method: :put, data: { turbo: false } }) do |f| %>
                <%- if current_user.can_login_using_password? %>
                    <div>
                        <span class="form-control form-helper-text">
                            Current Password
                        </span>
                        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password", 
                        class: "form-control form-field block w-full" %>
                        <div class="text-sm mt-2 text-base-300">
                            <span>We need your current password to confirm your changes.</span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <span class="form-control form-helper-text">
                            New Password
                        </span>
                        <%= f.password_field :password, autocomplete: "new-password",
                        placeholder: "New Password #{"(#{@minimum_password_length} characters minimum)" if @minimum_password_length}", 
                        class: "form-control form-field block w-full" %>
                    </div>

                    <div class="mt-4">
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", 
                        class: "form-control form-field block w-full" %>
                    </div>

                    <%= f.submit "Update Password", class: "btn btn-primary mt-5" %>
                <%- elsif current_user.enabled?(:user_passwords) %>
                    <div>
                        <p class="mb-3">
                            <strong>Your account does not use a password yet.</strong><br/>
                        </p>
                        <p class="mb-5">
                            You can add a new password here. Please, note that
                            we may require you to confirm your account before we
                            can add password to your account.
                        </p>
                        <%= link_to "Add password to my account", add_magic_user_password_path, class: "btn btn-success" %>
                    </div>
                <% end %>

            <% end %>
        </div>
    </div>
</div>
